
    <!--footer-->
    <div id="footer" style="border-width:0px;">


        <div class="footer_bottom">
            <div class="wrap">
            	<div class="container">
                <center>
                	<div class="row">

                		<div class="span5">
                        	<div class="foot_logo"><a href="index.html"><img src="img/foot_logo.png" alt="" /></a></div>
                        	<div class="copyright">&copy; 2017 Michael Reda. All Rights Reserved.</div>
                        </div>


                        <div class="span7">
                        	<div class="foot_right_block">
                            	<div class="fright">
                                	<!-- <form action="#" method="post">
                                        <input class="inp_search" name="name" type="text" value="Search the Site" onfocus="if (this.value == 'Search the Site') this.value = '';" onblur="if (this.value == '') this.value = 'Search the Site';" />
                                    </form> -->
                                </div>

                                <div class="clear"></div>

                            	<div class="clear"></div>
                            	<!-- <div class="foot_menu">
                            		<ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="portfolio_2columns.html" class="current">Portfolio</a></li>
                                </ul>
                            	</div> -->
                            </div>
                        </div>

                    </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!--//footer-->


    <script src="js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script id="myscript" src="js/jquery.isotope.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/sorting.js"></script>
    <script type="text/javascript" src="js/jquery.preloader.js"></script>

    <!-- <script type="text/javascript" src="js/myscript.js"></script> -->
    <script type="text/javascript">
		$(document).ready(function(){
			//prettyPhoto
			$("a[rel^='prettyPhoto']").prettyPhoto();

			//Image hover
			$(".hover_img").live('mouseover',function(){
					var info=$(this).find("img");
					info.stop().animate({opacity:0.6},500);
					$(".preloader").css({'background':'none'});
				}
			);
			$(".hover_img").live('mouseout',function(){
					var info=$(this).find("img");
					info.stop().animate({opacity:1},500);
					$(".preloader").css({'background':'none'});
				}
			);
			// Preloader
			$(".projects .element").preloader();

		});
	</script>
    <script src="js/application.js"></script>
</body>
</html>
